.portrait-mask {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;

  /* маска */
  -webkit-mask-image: url("/src/assets/portrait1.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-mode: luminance;

  mask-image: url("/src/assets/portrait1.png");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-mode: luminance;

  /* инвертируем маску */
  background: radial-gradient(circle at center, #999bff55 0%, #000 80%);
  filter: invert(1); /* 🟢 важно */
}
.portrait-mask {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;

  /* маска */
  -webkit-mask-image: url("/src/assets/portrait1.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-mode: luminance;

  mask-image: url("/src/assets/portrait1.png");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-mode: luminance;

  /* инвертируем маску */
  background: radial-gradient(circle at center, #999bff55 0%, #000 80%);
  filter: invert(1); /* 🟢 важно */
}
