html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(at 30% 40%, #2a2a72, transparent 60%),
    radial-gradient(at 70% 70%, #1a1a40, transparent 70%),
    linear-gradient(135deg, #0b0b1a, #181826);
  background-blend-mode: overlay;
  color: #e2e8f0;
  font-family: "Rubik", sans-serif;
}
